@import url(https://fonts.googleapis.com/css?family=Caveat+Brush|Montserrat:300,400,500,600,700|Roboto:300,400,500,700);
body {
    font: 400 15px/23px 'Roboto', Arial, Helvetica, sans-serif;
    color: #676767;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #363636;
}

header {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    font-size: 14px;
    outline: 1px solid rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

header .inside {
    padding-left: 30px;
    text-align: center;
}

.logo {
    z-index: 2;
    float: left;
    position: relative;
}

nav {
    z-index: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.desktop-nav {
    padding: 0;
    position: relative;
    text-align: center;
}

.desktop-nav ul {
    list-style: none;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.desktop-nav li {
    float: left;
    padding: 0 30px;
    font-size: inherit;
    line-height: inherit;
    list-style-type: none;
}

.desktop-nav li a {
    color: #000000;
}

.desktop-nav li a:hover {
    color: orangered;
}

.desktop-nav li .active {
    color: #ff672f;
}

a:hover {
    outline: none;
    text-decoration: none;
}

.user-area {
    z-index: 2;
    float: right;
    background: #fee133;
}

.user-area div {
    transition: all .2s;
    padding: 0 25px;
}

.user-area a {
    color: #363636;
    text-decoration: underline;
    float: left;
}

.user-area div:hover {
    background: #363636;
}

.user-area a:hover {
    color: #ffffff;
}

.search-content {
    background: url('../images/home_search_bg.jpg');
    z-index: 2;
    width: 100%;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
    text-align: center;
}

.search-content h1 {
    color: #33444c;
    margin: 0 0 20px;
    font-size: 75px;
    font-weight: bold;
    line-height: 55px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.search-content h2 {
    font-family: 'Coiny', cursive;
    margin: 0 0 80px;
    font-size: 45px;
    line-height: 35px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
}

.search-content input[type=text] {
    width: 80%;
    height: 48px;
    background: rgba(0, 0, 0, .4);
    border: 0;
    overflow: hidden;
    outline: 0;
    padding: 0 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, .9);
}

.search-content input[type=text]::placeholder {
    color: rgba(255, 255, 255, .7);
}

.search-content input[type=submit] {
    width: 20%;
    height: 48px;
    background: rgba(255, 255, 255, .7);
    border: 0;
    overflow: hidden;
    outline: 0;
    padding: 0 16px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
    font-weight: bold;
}

.content {
    padding: 48px 0 96px 0;
}

.content h2 {
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 48px 0;
}

.content h6 {
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    margin-top: -16px;
    margin-bottom: 48px;
    color: #999999;
}

.featured-trip .picture {
    display: inline-block;
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: opacity .2s;
}

.featured-trip .picture:hover {
    opacity: .75;
}

.featured-trip .title {
    margin: 16px;
}

.featured-trip .title a {
    color: #363636;
}

.featured-trip .title a:hover {
    color: #0e0e0e;
}

.featured-trip .title h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.featured-trip .description {
    margin: 0 16px;
    color: #707070;
    font-size: 16px;
}

.featured-trip .details {
    background: #23c28d;
    color: #ffffff;
    padding: 12px 16px;
    margin-top: 16px;
    line-height: 14px;
}

.featured-trip .details span {
    margin-right: 16px;
    font-size: 14px;
}

.your-trip-style {
    width: 100%;
    height: 505px;
    background-image: url('../images/your-style-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.your-trip-style .trip-style i {
    color: #ffffff;
    font-size: 64px;
    width: 100px;
    height: 100px;
    border: 5px solid #ffffff;
    border-radius: 5px;
    line-height: 95px;
    text-align: center;
    margin: 0 auto;
    display: block;
    transition: all .5s;
}

.your-trip-style .trip-style:hover i {
    border: 5px solid turquoise;
    color: turquoise;
    opacity: .75;
    font-size: 96px;
    width: 150px;
    height: 150px;
    line-height: 145px;
}

.your-trip-style .trip-style span {
    padding-top: 5px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .5s;
}

.your-trip-style .trip-style:hover span {
    color: turquoise;
    font-size: 32px;
}

footer {
    width: 100%;
    padding: 32px 0;
    background: #363636;
}

footer ul {
    padding: 0;
    margin: 16px 0;
}

footer ul .title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000000;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    font-size: 14px;
    color: #bbbbbb;
    text-decoration: none !important;
    transition: color .2s;
}

footer ul li a:hover {
    color: #dbdbdb;
}

/* footer .fa-facebook {
    color: #3b5998;
}

footer .fa-youtube {
    color: #cc181e;
}

footer .fa-instagram {
    color: #8a3ab9;
}

footer .fa-twitter {
    color: #1da1f2;
} */

.trip-bg {
    z-index: 2;
    width: 100%;
    height: 360px;
    padding-top: 120px;
    background-color: #ccc;
}

.trip-bg .traveller-avatar {
    width: 80px;
    height: 80px;
    background: #ffffff;
    outline: 2px solid lightgray;
    float: left;
    margin-right: 10px;
}

.trip-bg .traveller-info {
    float: left;
    width: Calc(100% - 90px);
    height: 80px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 65%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 65%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    padding: 10px;
}

.trip-bg .traveller-info a {
    color: cadetblue;
}

.follow-traveller-btn {
    cursor: pointer;
    background: azure;
    border-radius: 2px;
    border: 1px solid #5bc0de;
    padding: 2px 8px;
    overflow: hidden;
}

.follow-traveller-btn:hover,
.follow-traveller-btn:focus {
    background: darkseagreen;
    border-color: #449d44;
    color: #ffffff;
}

.follow-traveller-btn:focus {
    outline: 0;
    box-shadow: 0 0 3px 0 #449d44;
}

.trip-bg .traveller-avatar img {
    width: 80px;
    height: 80px;
}

main {
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    margin-top: -120px;
    margin-bottom: 120px;
    padding: 100px 30px;
}

.trip-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.trip-social-counter {
    font-size: 12px;
    color: lightslategray;
    text-align: center;
}

.trip-social-counter span {
    margin-right: 10px;
}

.trip-social-counter .fas {
    opacity: 0.75;
}

.trip-social-counter .fa-thumbs-up {
    color: teal;
    font-size: 16px;
    cursor: pointer;
}

.trip-social-counter .fa-thumbs-up:hover {
    color: #000a80;
}

.trip-social-counter .fa-thumbs-up.liked {
    color: #000a80;
}

.trip-social-counter .fa-thumbs-up.liked:hover {
    color: teal;
}

.trip-social-counter .fa-comment-alt {
    color: orangered;
    font-size: 16px;
    cursor: pointer;
}

.trip-social-counter .fa-eye {
    color: dodgerblue
}

.sum-info {
    font-size: 12px;
    margin-bottom: 60px;
    text-align: center;
}

.sum-info span {
    margin-right: 10px;
}

.sum-info .fas {
    opacity: 0.75;
}

.sum-info .fa-calendar-alt {
    color: dodgerblue
}

.sum-info .fa-road {
    color: orangered;
}

.sum-info .fa-money-bill-alt {
    color: teal;
}

.mini-gallery h3 {
    text-align: right;
}

.mini-gallery h3 a {
    font-size: 8px;
}

.mg-thumbnail {
    position: relative;
    width: 19%;
    overflow: hidden;
    float: left;
    margin: .5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    opacity: .85;
    cursor: pointer;
    transition: all .2s;
}

.mg-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mg-thumbnail img.portrait {
    max-width: 100%;
    height: auto;
}

@media (max-width: 575.98px) {}

/* Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
    .mg-thumbnail {
        width: 32%;
        margin: .66%;
    }
}

/* Small devices (landscape phones, less than 768px)*/

@media (max-width: 767.98px) {
    .mg-thumbnail {
        width: 24%;
        margin: .5%;
    }
}

/* Large devices (desktops, less than 1200px)*/

@media (max-width: 1199.98px) {}

.mg-thumbnail:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    opacity: 1;
}

.mg-thumbnail::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.mg-thumbnail .thumbnail-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.no-margin {
    margin: 0;
}

.map-view {
    margin-top: 60px;
}

#map {
    height: 400px;
    width: 100%;
}

#tabs {
    margin-bottom: 120px;
}

.nav-tabs {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 70px;
}

.nav-item {
    text-align: left !important;
}

.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #010101;
    border: 0 !important;
    letter-spacing: 0.5px;
    transition: all .3s;
    padding: 0 0 20px 0;
}

.nav-link:hover,
.nav-link.active {
    color: #ff7550 !important;
    border-bottom: 3px solid #ff7550 !important;
}

#login {
    margin: 120px 0 60px 0;
    min-height: calc(100vh - 391px);
}

.mt-12 {
    margin-top: 120px;
}

.mb-6 {
    margin-bottom: 60px;
}

header .dropdown {
    padding-right: 25px;
}

.dropdown-item {
    line-height: 24px;
}

header .btn-link {
    color: #363636;
}

header .btn-link:hover {
    color: #23c28d;
    text-decoration: none;
}

header .btn-link:focus {
    color: #23c28d;
    text-decoration: none;
}

.trip-card {
    margin-bottom: 30px;
}

.trip-card .fa-sync-alt{
    width: 100%;
    height: 180px;
    background-color: #ccc;
    margin-bottom: 10px;
    font-size: 36px;
    text-align: center;
    padding-top: 70px;
}

.trip-card .fas{
    line-height: 1.5;
}

.trip-card img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

.account-image {
    margin-bottom: 10px;
}

.tc-icon{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #e6e6e6;
    position: absolute;
    right: 15px;
}

.sync-trip-icon{
    background: rgba(130, 10, 65, .5);
    top: 25px;
}

.edit-trip-icon {
    background: rgba(0, 0, 0, .5);
    top: 0;
}

.edit-trip-icon:hover {
    background: rgba(0, 0, 0, .75);
    color: #ffffff;
}

main .dropleft {
    float: right;
    margin-top: -80px;
}

main .dropleft .dropdown-toggle::before {
    content: none;
}

.complaint-description {
    font-size: 12px;
    line-height: 12px;
    padding-left: 20px;
    color: #909090;
    font-style: italic;
}

.explore-trip {
    margin-bottom: 36px;
}

.explore-trip .user {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    height: 30px;
    line-height: 30px;
}

.explore-trip .user .pp img {
    width: 24px;
    height: 24px;
    margin: 0 2px;
}

.explore-trip .picture {
    display: inline-block;
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transition: opacity .2s;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.explore-trip .picture:hover {
    opacity: .75;
}

.explore-trip .title a {
    font-size: 20px;
    line-height: 20px;
    color: #363636;
}

.explore-trip .title a:hover {
    color: #0e0e0e;
}

.explore-trip .details div {
    margin-right: 10px;
}

.explore-trip .title {
    padding-top: 7px;
    margin-top: -7px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.explore-trip .details {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.explore-trip .details,
.explore-trip .title {
    padding-left: 2px;
}

.explore-unit {
    margin-top: 100px;
}

.comments input,
.comments textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}

.comments input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ced2db;
}

.comments input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ced2db;
}

.comments input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ced2db;
}

.comments input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ced2db;
}

.comments {
    margin: 2rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}

.invalid-feedback{
    display: block;
}

.user-profile-image img{
    width: 100%;
    height: 200px;
}